<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="es" xml:lang="es">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>No se pudo Iniciar Sesión</title>
<style type="text/css">
a img { border: 0px;}
p.larger {font-size: 1.2em;}
</style>
</head>
<body>
<h1>No se pudo Iniciar Sesión</h1>
<p class="larger">Este sitio Web est&aacute; experimentando dificultades t&eacute;cnicas temporales, refrescar la p&aacute;gina quiz&aacute;s ayude.
Si el problema persiste, por favor inf&oacute;rmele al administrador de este problema.</p>
<p class="larger">Por favor <em>no contacte</em> al Equipo de Zikula acerca de este error, porque es un problema espec&iacute;fico de este sitio Web y aunque este sitio Web es soportado por el Framework Web Zikula, se gestiona independientemente por el administrador del sitio.</p>

<p><strong>Si tu eres el administrador...</strong><br/>
Zikula no puede iniciar correctamente las sesiones. Posiblemente se debe a que no puede escribir las sesiones en la base de datos porque est&aacute; llena o no hay espacio en el disco, o que la tabla de sesiones está corrupta. Vaciando y reparando esa tabla puede solucionar el problema. Para m&aacute;s ayuda por favor visite los foros de soporte de la comunidad Zikula.</p>

<p>Zikula es Software Libre liberado bajo la licencia GNU/GPL.  Para m&aacute;s informaci&oacute;n, por favor visite la <a href="http://zikula.es">
Comunidad Zikula en Español</a>.</p>

<div style="text-align: center; margin-top: 20px">
<a href="http://zikula.org"><img src="images/powered/small/cms_zikula.png" alt="Orgullosamente soportado por Zikula" title="Orgullosamente soportado por Zikula" width="80" height="15" /></a>
</div>
</body>
</html>
