<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="es" xml:lang="es">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Sitio Web no disponible temporalmente</title>
<style type="text/css">
a img { border: 0px;}
</style>
</head>
<body>
<h1>Problema en la conexi&oacute;n con la Base de Datos</h1>
<p style="font-size: 1.2em">Este sitio Web est&aacute; experimentando dificultades t&eacute;cnicas temporales, debido posiblemente a un tr&aacute;fico alto. Si puede, por favor inf&oacute;rmele
al administrador de este problema, dici&eacute;ndole la hora en la que vi&oacute; &eacute;sta p&aacute;gina.</p>
<p style="font-size: 1.2em">Este sitio Web es soportado por el Framework de Aplicaciones Zikula, a pesar de ejecutarse de forma independiente por el administrador de este sitio web.
Por favor no contacte al Equipo de Zikula acerca de este error, porque es un problema espec&iacute;fico de este sitio Web.</p>

<p><strong>Si usted es el administrador...</strong><br/>

Zikula no puede conectarse a la base de datos. 
Por favor aseg&uacute;rese que los datos de acceso a la base de datos son correctos, y tambi&eacute;n, verifique que su base de datos est&eacute; funcionando correctamente.</p>

<p>Zikula es Software Libre liberado bajo la licencia GNU/GPL. Para m&aacute;s informaci&oacute;n, por favor visite la <a href="http://zikula.es">
Comunidad Zikula en Espa&ntilde;ol</a>.</p>

<div style="text-align: center; margin-top: 20px">
<a href="http://zikula.org"><img src="images/powered/small/cms_zikula.png" alt="Orgullosamente soportado por Zikula" title="Orgullosamente soportado por Zikula" width="80" height="15" /></a>
<a href="http://adodb.sourceforge.net"><img src="images/powered/small/adodb_powered.png" alt="Librería de base de datos ADODB" title="Librería de base de datos ADODB" width="80" height="15" /></a>
<a href="http://www.php.net"><img src="images/powered/small/php_powered.png" alt="Lenguaje PHP" title="Lenguaje PHP" width="80" height="15" /></a>
</div>
</body>
</html>
