<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="es" xml:lang="es">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Zikula no se ha Instalado!</title>
<style type="text/css">
a img { border: 0px;}
</style>
</head>
<body>
<h1>Zikula no se ha instalado!</h1>
<p style="font-size: 1.2em">Est&aacute; viendo este mensaje porque Zikula no est&aacute; instalado a&uacute;n.  Puede instalar Zikula ejecutando el <a href="install.php?lang=es">script
de instalaci&oacute;n</a>, pero antes de hacerlo por favor lea las <a href="docs/install_es.html">instrucciones de instalaci&oacute;n</a>. 
M&aacute;s informaci&oacute;n puede ser encontrada en la <a href="http://zikula.es/wiki/main/tag/Requerimientos">documentaci&oacute;n en l&iacute;nea</a>.</p>

<p>Zikula es Software Libre liberado bajo la licencia GNU/GPL. Para m&aacute;s informaci&oacute;n, por favor visite la <a href="http://zikula.es">
Comunidad Zikula en Espa&ntilde;ol</a>.</p>

<div style="text-align: center; margin-top: 20px">
<a href="http://zikula.org"><img src="images/powered/small/cms_zikula.png" alt="Orgullosamente soportado por Zikula" title="Orgullosamente soportado por Zikula" width="80" height="15" /></a>
<a href="http://adodb.sourceforge.net"><img src="images/powered/small/adodb_powered.png" alt="Librería de base de datos ADODB" title="Librería de base de datos ADODB" width="80" height="15" /></a>
<a href="http://www.php.net"><img src="images/powered/small/php_powered.png" alt="Lenguaje PHP" title="Lenguaje PHP" width="80" height="15" /></a>
</div>
</body>
</html>
