<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Sitio Web no disponible temporalmente</title>
<style type="text/css">
a img { border: 0px;}
</style>
</head>
<body>
<h1>Problema en la conexi&oacute;n con la Base de Datos</h1>
<p style="font-size: 1.2em">Este sitio Web est&aacute; experimentando dificultades t&eacute;cnicas temporales, debido posiblemente a un tr&aacute;fico alto. Si puedes, por favor inf&oacute;rmale al administrador de este problema, dici&eacute;ndole la hora en la que viste &eacute;sta p&aacute;gina.</p>
<p style="font-size: 1.2em">Este sitio Web es soportado por Zikula Application Framework, y se gestiona independiente del administrador del sitio.
Por favor no contactes al Equipo de Zikula acerca de este error, porque es un problema espec&iacute;fico de este sitio Web.</p>

<p><strong>Si tu eres el administrador...</strong><br/>

Zikula no puede conectarse a tu base de datos. 
Por favor aseg&uacute;rate que los datos de acceso a la base de datos son correctos, y tambi&eacute;n, verifica que tu base de datos est&aacute; funcionando correctamente.</p>

<p>Zikula es Software Libre liberado bajo la licencia GNU/GPL. Para m&aacute;s informaci&oacute;n, por favor visita <a href="http://zikula.es">
Comunidad Zikula en Español</a>.</p>
<div style="text-align: center; margin-top: 20px">
<a href="http://www.zikula.org"><img src="images/powered/small/cms_zikula.png" alt="Sitio Web soportado por Zikula" width="80" height="15" /></a> 
<a href="http://adodb.sourceforge.net"><img src="images/powered/small/adodb_powered.png" alt="Librer&iacute;a de base de datos ADODB" width="80" height="15" /></a> 
<a href="http://www.php.net"><img src="images/powered/small/php_powered.png" alt="Lenguaje de programaci&oacute;n PHP" width="80" height="15" /></a>
</div>
</body>
</html>
