<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>No se pudo iniciar sesión</title>
<style type="text/css">
a img { border: 0px;}
p.larger {font-size: 1.2em;}
</style>
</head>
<body>
<h1>No se pudo iniciar sesión</h1>
<p class="larger">Este sitio Web est&aacute; experimentando dificultades t&eacute;cnicas temporales, debido posiblemente a un tr&aacute;fico alto. Si puedes, por favor inf&oacute;rmale al administrador de este problema, dici&eacute;ndole la hora en la que viste &eacute;sta p&aacute;gina.</p>
<p class="larger">Aunque este sitio Web es soportado por Zikula Web Framework, se gestiona independientemente por del administrador del sitio.
Por favor no contactes al Equipo de Zikula acerca de este error, porque es un problema espec&iacute;fico de este sitio Web.</p>
<p><strong>Si tu eres el administrador...</strong><br/>
Zikula no puede iniciar correctamente las sesiones. Posiblemente se debe a que la tabla de sesiones se ha corrompido en la base de datos. Vaciando y reparando esa tabla puede solucionar el problema. Para m&aacute;s ayuda por favor visita los foros de soporte de la comunidad Zikula.</p>

<p>Zikula es Software Libre liberado bajo la licencia GNU/GPL.  Para m&aacute;s informaci&oacute;n, por favor visita <a href="http://zikula.es">
Comunidad Zikula en Español</a>.</p>
<div style="text-align: center; margin-top: 20px">
<a href="http://www.zikula.org"><img src="images/powered/small/cms_zikula.png" alt="Sitio Web soportado por Zikula" width="80" height="15" /></a>
</div>
</body>
</html>
